torchvision
albumentations
timm
torch-tb-profiler
typer
isort
black
loguru
seaborn
jupyter
pretrainedmodels
efficientnet-pytorch
neptune>=1.0
segmentation_models_pytorch @ git+https://github.com/jlcsilva/segmentation_models.pytorch
gdown
