torchvision==0.16.0
albumentations
timm
mapie
torch-tb-profiler
typer
isort
black
loguru
seaborn
jupyter
neptune>=1.0
segmentation_models_pytorch @ git+https://github.com/jlcsilva/segmentation_models.pytorch